extends layout

block content
  h1= title
  
  ul
    each edition in edition_list
      li 
        a(href=edition.url) #{edition.book.title} (#{edition.editorial.name})

    else
      li There are no editions.

  table(id='sortMyTable')
    tbody(id='sortMyTableSort')
      tr
        th(id="sortTableBook") Book
        th(id="sortTableEditorial") Editorial
      tr
        td jabj
        td aaaa
      tr
        td aasfa
        td luee
      tr
        td qwfqwg
        td wqfvew
      tr
        td mfgndf
        td nwdrds
      tr
        td vsdvsd
        td cdsvsd
