extends layout

block content
  h1= title
  
  ul
    each editorial in editorial_list
      li 
        a(href=editorial.url) #{editorial.name}
    else
      li There are no editorial.
  include _paginate