extends layout

block content

  h1 Language: #{language.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Editions
    
    dl
      each edition in language_edition
        dt 
          a(href=edition.book.url) #{edition.book.title}
        dd #{edition.book.summary}

      else
        p This language has no books